*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: linear-gradient(141deg, hsl(50, 7%, 84%) 0%, hsl(206, 64%, 60%) 10%, hsl(206, 64%, 60%) 20%, rgb(57, 40, 77) 40%, hsl(267, 32%, 23%) 60%, hsl(0, 99%, 48%) 80%, hsl(0, 99%, 48%) 90%, rgb(214, 214, 214) 100%);
  font-family: "Nunito", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: rgba(254, 255, 255, 0.256);
}

.match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}
.match__title {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
  color: rgb(16, 1, 1);
}
.match__team-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 45%;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1.2em;
}
.match__team-vs {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: rgb(16, 1, 25);
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(6, 210, 193, 0.047);
}
.counter__heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.counter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.counter__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background-color: rgba(86, 6, 106, 0.038);
  border: none;
  width: 18%;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(7, 1, 1, 0.9411764706);
          box-shadow: 4px 4px 10px rgba(7, 1, 1, 0.9411764706);
}
.counter__time {
  font-size: 3.2rem;
}
.counter__title {
  font-size: 1.5rem;
}

.btns-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  margin-top: 1.5rem;
}
.btns-box .btn {
  padding: 0.4em 0.6em;
  margin: 0 0.5rem;
  border-radius: 10px;
  border: 1px solid #000000;
  background: none;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px rgba(43, 10, 3, 0.9411764706);
          box-shadow: 3px 3px 10px rgba(43, 10, 3, 0.9411764706);
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.btns-box .btn:hover {
  color: #acfd10;
  -webkit-box-shadow: 4px 4px 10px red;
          box-shadow: 4px 4px 10px red;
}
.btns-box .btn:focus {
  outline: none;
  border: none;
  color: #acfd10;
  -webkit-box-shadow: 4px 4px 10px red;
          box-shadow: 4px 4px 10px red;
}

.timetable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}
.timetable__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.timetable__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.3rem;
  padding-bottom: 1em;
  -webkit-box-shadow: 4px 4px 10px rgba(7, 1, 1, 0.9411764706);
          box-shadow: 4px 4px 10px rgba(7, 1, 1, 0.9411764706);
  background: none;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  border: none;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.timetable__box:hover, .timetable__box:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 4px 4px 10px red;
          box-shadow: 4px 4px 10px red;
}
.timetable__box:hover .timetable__match-home,
.timetable__box:hover .timetable__match-away, .timetable__box:focus .timetable__match-home,
.timetable__box:focus .timetable__match-away {
  color: #acfd10;
}
.timetable__date {
  text-align: center;
  font-size: 1.6rem;
  -webkit-clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
          clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
  padding: 0 1.9em;
  margin-bottom: 0.5rem;
  font-weight: bold;
  background-color: aliceblue;
}
.timetable__match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: transparent;
}
.timetable__match-home, .timetable__match-away {
  width: 35%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.timetable__match-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2em;
  background-color: #f6f5fd;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.timetable__match-result-home, .timetable__match-result-vs, .timetable__match-result-away {
  font-size: 2rem;
}
.timetable__goals-box {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
}

.table {
  display: none;
}

.stats {
  display: none;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 450px) {
  .btns-box .btn {
    font-size: 1.6rem;
  }
  .timetable__date {
    font-size: 1.6rem;
  }
  .timetable__match-home,
  .timetable__match-away {
    font-size: 1.8rem;
  }
}
@media (min-width: 490px) {
  .match__team-name {
    font-size: 2rem;
  }
  .counter__time {
    font-size: 7.5rem;
  }
  .counter__title {
    font-size: 2rem;
  }
  .timetable__goals-info {
    font-size: 1.4rem;
  }
}
@media (min-width: 690px) {
  .match__team-name {
    font-size: 2.5rem;
  }
}
@media (min-width: 820px) {
  .timetable__match-home,
  .timetable__match-away {
    width: 40%;
  }
}/*# sourceMappingURL=style.css.map */