*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: linear-gradient(141deg, hsl(50, 7%, 84%) 0%, hsl(206, 64%, 60%) 10%, hsl(206, 64%, 60%) 20%, rgb(57, 40, 77) 40%, hsl(267, 32%, 23%) 60%, hsl(0, 99%, 48%) 80%, hsl(0, 99%, 48%) 90%, rgb(214, 214, 214) 100%);
  font-family: "Nunito", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: rgba(240, 248, 255, 0.134);
}

.match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}
.match__title {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
  color: rgb(16, 1, 1);
}
.match__team-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1.2em;
}
.match__team-vs {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: rgb(16, 1, 25);
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(6, 210, 193, 0.047);
}
.counter__heading {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.counter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.counter__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background-color: rgba(86, 6, 106, 0.038);
  color: rgba(40, 4, 4, 0.944);
  border: 1px solid black;
  width: 18%;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 10px rgba(7, 1, 1, 0.4117647059);
          box-shadow: 3px 3px 10px rgba(7, 1, 1, 0.4117647059);
}
.counter__time {
  font-size: 3.2rem;
}
.counter__title {
  font-size: 1.5rem;
}

.btns-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  margin-top: 1rem;
}
.btns-box .btn {
  padding: 0.5em 1em;
  margin: 0 1rem;
  border: none;
  border-radius: 10px;
  border: 2px solid #520342;
  background: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 10px rgba(7, 1, 1, 0.4117647059);
          box-shadow: 3px 3px 10px rgba(7, 1, 1, 0.4117647059);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.btns-box .btn:hover {
  color: #acfd10;
  -webkit-box-shadow: 3px 3px 10px red;
          box-shadow: 3px 3px 10px red;
}
.btns-box .btn:focus {
  border: none;
  color: rgba(226, 251, 31, 0.9176470588);
  -webkit-box-shadow: 3px 3px 10px red;
          box-shadow: 3px 3px 10px red;
}

@media (min-width: 450px) {
  .btns-box .btn {
    font-size: 1.6rem;
  }
}
@media (min-width: 490px) {
  .match__team-name {
    font-size: 2rem;
    text-transform: uppercase;
  }
  .counter__time {
    font-size: 7.5rem;
  }
  .counter__title {
    font-size: 2rem;
  }
}
@media (min-width: 690px) {
  .match__team-name {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=style.css.map */