$Background-color: linear-gradient(
	141deg,
	hsla(50, 7%, 84%, 1) 0%,
	hsla(206, 64%, 60%, 1) 10%,
	hsla(206, 64%, 60%, 1) 20%,
	rgb(57, 40, 77) 40%,
	hsla(267, 32%, 23%, 1) 60%,
	hsla(0, 99%, 48%, 1) 80%,
	hsla(0, 99%, 48%, 1) 90%,
	rgb(214, 214, 214) 100%
);
$WinColor: #37fe00;
$LostColor: #e40000;
$DrawColor: #ced118;
$NoMatch: #827b7b;
