@use "./variables" as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background: $Background-color;
	font-family: "Nunito", sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	background-color: rgba(254, 255, 255, 0.256);
}

.match {
	display: flex;
	margin-top: 1rem;
	&__title {
		text-align: center;
		font-weight: bold;
		font-size: 2.5rem;
		text-transform: uppercase;
		margin-top: 1rem;
		color: rgb(16, 1, 1);
	}

	&__team-name {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 45%;
		font-size: 1.8rem;
		font-weight: bold;
		padding: 1.2em;
	}
	&__team-vs {
		width: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		color: rgb(16, 1, 25);
	}
}
.counter {
	display: flex;
	flex-direction: column;
	background-color: rgba(6, 210, 193, 0.047);

	&__heading {
		text-align: center;
		font-size: 2.5rem;
		font-weight: bold;
		margin-bottom: 1rem;
		text-transform: uppercase;
	}
	&__body {
		display: flex;
		justify-content: space-around;
	}
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em;
		background-color: rgba(86, 6, 106, 0.038);

		border: none;
		width: 18%;
		border-radius: 10px;
		box-shadow: 4px 4px 10px #070101f0;
	}
	&__time {
		font-size: 3.2rem;
	}
	&__title {
		font-size: 1.5rem;
	}
}

.btns-box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	margin-top: 1.5rem;
	.btn {
		padding: 0.4em 0.6em;
		margin: 0 0.5rem;
		border-radius: 10px;
		border: 1px solid #000000;
		background: none;
		font-size: 1.4rem;
		font-weight: bold;
		letter-spacing: 1px;
		cursor: pointer;
		box-shadow: 3px 3px 10px #2b0a03f0;
		transition: color 0.3s, box-shadow 0.3s;
	}
	.btn:hover {
		color: #acfd10;
		box-shadow: 4px 4px 10px red;
	}
	.btn:focus {
		outline: none;
		border: none;
		color: #acfd10;
		box-shadow: 4px 4px 10px red;
	}
}

.timetable {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	&__title {
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1.3rem;
		padding-bottom: 1em;
		box-shadow: 4px 4px 10px #070101f0;
		background: none;
		font-family: "Nunito", sans-serif;
		cursor: pointer;
		border: none;
		transition: color 0.3s, box-shadow 0.3s;
		&:hover,
		&:focus {
			.timetable__match-home,
			.timetable__match-away {
				color: #460303;
			}
			border: none;
			outline: none;
			box-shadow: 0px 0px 14px 12px rgb(84, 6, 6);
		}
	}
	&__date {
		text-align: center;
		font-size: 1.6rem;
		clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
		padding: 0 1.9em;
		margin-bottom: 0.5rem;
		font-weight: bold;
		background-color: aliceblue;
	}
	&__match {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: transparent;

		&-home,
		&-away {
			width: 35%;
			text-align: center;
			font-weight: bold;
			font-size: 1.5rem;
			text-transform: uppercase;
			transition: color 0.3s;
		}
		&-result {
			display: flex;
			padding: 0 2em;
			background-color: #f6f5fd;
			clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
			&-home,
			&-vs,
			&-away {
				font-size: 2rem;
			}
		}
	}
	&__details {
		margin-top: 1rem;
		font-size: 0.9rem;
		padding: 0 2em;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: underline;
		clip-path: polygon(20% 100%, 80% 100%, 100% 0, 0 0);
		background-color: aliceblue;
	}
	&__goals-box {
		display: none;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin-top: 1rem;
		font-size: 1.4rem;
		font-weight: bold;
		width: 100%;
	}
}
// ------------------------------------------------------
.table {
	display: none;
	display: none;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	&__data {
		max-width: 800px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.111);
	}
	&__info-btn {
		padding: 0.3em 0;
		width: 100%;
		height: 100%;
		border: none;
		background: none;
		font-weight: bold;
		font-size: 1.7rem;
		letter-spacing: 1px;
		cursor: pointer;
		text-transform: uppercase;
		transition: color 0.3s, box-shadow 0.3s;
		
	}
	&__info-btn:focus,
	&__info-btn:hover {
		box-shadow: 4px 4px 10px 5px rgb(84, 6, 6);
	}
	&__info-teamName {
		font-size: 2rem;
		font-weight: bold;
	
	}
	td {
		text-align: center;
		padding: 0.5em;
		font-size: 1.3rem;
		font-weight: bold;
	}
	tr:nth-of-type(even) {
		background-color: #2b2d4241;
	}
	tr:nth-of-type(odd) {
		background-color: #8d99ae62;
	}
}

// -----------------------------------------------------
.stats {
	display: none;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	&-table__data {
		max-width: 800px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.111);
	}

	&-table__btn {
		padding: 0.3em 0;
		width: 100%;
		height: 100%;
		border: none;
		background: none;
		font-weight: bold;
		font-size: 1.7rem;
		letter-spacing: 1px;
		cursor: pointer;
		text-transform: uppercase;
		transition: color 0.3s, box-shadow 0.3s;
	}

	&-table__btn:focus,
	&-table__btn:hover {
		box-shadow: 4px 4px 10px 5px rgb(84, 6, 6);
	}
	&-table__playerName {
		font-size: 2rem;
		font-weight: bold;
	}

	td {
		text-align: center;
		padding: 0.5em;
		font-size: 1.3rem;
		font-weight: bold;
	}
	tr:nth-of-type(even) {
		background-color: #2b2d4241;
	}
	tr:nth-of-type(odd) {
		background-color: #8d99ae62;
	}
}
.yellow,
.red {
	position: relative;
}
.yellow::after,
.red::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	width: 15px;
	height: 20px;
	background-color: yellow;
}
.red::after {
	background-color: red;
}
// ----------------------------------------------------
.stats {
	display: none;
}

.active {
	display: flex;
}

@media (min-width: 450px) {
	.btns-box {
		.btn {
			font-size: 1.6rem;
		}
	}
	.timetable__date {
		font-size: 1.6rem;
	}
	.timetable__match-home,
	.timetable__match-away {
		font-size: 1.8rem;
	}
}

@media (min-width: 490px) {
	.match__team-name {
		font-size: 2rem;
	}
	.counter__time {
		font-size: 7.5rem;
	}
	.counter__title {
		font-size: 2rem;
	}
	.timetable__goals-info {
		font-size: 1.4rem;
	}
}

@media (min-width: 690px) {
	.match__team-name {
		font-size: 2.5rem;
	}
}
@media (min-width: 820px) {
	.timetable__match-home,
	.timetable__match-away {
		width: 40%;
	}
}
